*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */
.logo{
    width: 45px;
}
/* header end*/


/* banner */
#banner{
    margin-top: 79px;
    height: 90vh;
    background-color: #F9876D;
}

#banner .title{
    font-size: 50px;
    margin-top: 180px;
    margin-bottom: 50px;
    font-weight: normal;
}

#banner p{
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
}
/* banner end */